*{
    box-sizing: border-box;
}

body{
    text-decoration: none;
    font-size: 20px;
	background: black;
	color: white;
    margin: auto;
    background-image:url('night.png') ;
    background-repeat: no-repeat;    
    background-size: auto;
    background-attachment: fixed;
}

    /* Add a black background color to the top navigation */
#heading{
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 0;
    background: transparent;
}

.head_links{
    background: #1b61e4;
    border-radius: 20px;
    padding-right: 10%;
    padding-left: 10%;
    border-style: solid;
    border-color: white;
}
.head_links h2{
    text-align: bottom;
    padding-bottom: 0;
    margin-bottom: 0;
}
.head_links p{
    padding: 0;
    margin: 0;
}

.head_links a{
    color: white;
}
#heading div{
    text-align: center;
}
.topnav {
    display: flex;
    width: 100%;
    justify-content: center;
}
.topnav div {
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
}
.topnav a{
    color: #FF4500;
}
.topnav a: hover{
    color: #A52A2A;
}
a{
    color: #A52A2A;
    text-decoration: none;
}
.footer{
    text-align:center;
    background: transparent;
    margin-left: 20%;
    margin-right:20%;
    margin-bottom:5%;
    padding-right: 5%;
    padding-left: 5%;
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
}